<% if @recommended_games.present? %>
  <p><%= "#{@recommended_games.length} resultados encontrados." %></p>
  <ul>
    <% @recommended_games.each do |game| %>
      <li><%= game['data']['name'] %></li>
    <% end %>
  </ul>
<% else %>
  Não encontramos nenhum jogo relacionado. ☹️
<% end %>
