<div>
  <h1 class="font-bold text-4xl">Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>

  
  <%= tag.form(
    action: search_index_path,
    method: :get
  ) do %>
    <%= tag.input(
      type: "text",
      name: "search"
    )%>

    <%= tag.button(
      "Search",
      type: "submit",
      class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    ) %>
  <% end %>
</div>
